<ul class="footer-ul">
    <li>
        <img src="../images/main_icon01.png">
        <span class="footer-image-label">이력</span>
    </li>
    <li>
        <a href="./monitoring.html">
            <img src="../images/main_icon02.png">
            <span class="footer-image-label">모니터링</span>
        </a>
    </li>
    <li>
        <img src="../images/main_icon03.png">
        <span class="footer-image-label">금형</span>
    </li>
    <li>
        <img src="../images/main_icon04.png">
        <span class="footer-image-label">시스템</span>
    </li>
    <li class="footer-status-label">
        <div class="error-wrap">
            <div class="error-box" id="allowableError">
                <img src="../images/ICON_INFO_TOLERANCE.png">
                <span class="error-msg">허용오차 초과</span>
            </div>
            <div class="error-box" id="mnmtError">
                <img src="../images/ICON_INFO_TOLERANCE.png">
                <span class="error-msg">관리오차 초과</span>
            </div>
        </div>
        <span class="footer-status-txt">
            <span class="footer-status-txt1">INPUT</span>
            <span class="footer-status-txt1">1</span>
            <span class="footer-status-txt1">2</span>
            <span class="footer-status-txt1">3</span>
            <span class="footer-status-txt1">4</span>
            <span class="footer-status-txt1">OUTPUT</span>
            <span class="footer-status-txt1" id="output1">1</span>
            <span class="footer-status-txt1" id="output2">2</span>
            <span class="footer-status-txt1" id="output3">3</span>
            <span class="footer-status-txt1" id="output4">4</span>
            <span class="footer-status-txt1" id="output5">5</span>
            <span class="footer-status-txt1" id="output6">6</span>
        </span>
    </li>
</ul>