<ul class="right-ul">
    <li>
        <a href="./main.html">
            <img src="../images/FORCE_BACK_ON.png" id="menu1">
            <span class="right-title-txt">압조력</span>
        </a>
    </li>
    <li>
        <a href="./peak.html">
            <img src="../images/main_icon06.png">
            <span class="right-title-txt">피크</span>
        </a>
    </li>
    <li>
        <img src="../images/main_icon07.png">
        <span class="right-title-txt">SPOP</span>
    </li>
    <li>
        <img src="../images/main_icon08.png">
        <span class="right-title-txt1">생산제품</span>
        <span class="right-title-txt2">56,029</span>
    </li>
    <li>
        <img src="../images/main_icon08.png">
        <span class="right-title-txt1">제품생산량</span>
        <span class="right-title-txt2">56,029</span>
    </li>
    <li>
        <img src="../images/main_icon08.png">
        <span class="right-title-txt1">일일생산량</span>
        <span class="right-title-txt2">56,029</span>
    </li>
    <li>
        <img src="../images/main_icon09.png">
        <span class="right-title-txt1">생산목표</span>
        <span class="right-title-txt2">10</span>
        <span class="right-title-txt3">0%</span>
        <span class="right-title-txt4">
            <img src="../images/clock.png" class="clock-icon"> 00:00:00
        </span>
        <div class="right-bar-graph">
            <p class="position:relative;">
                <span class="right-bar-gauge"></span>
            </p>
        </div>
    </li>
    <li class="right-spm">
        <span>0</span> [SPM]
    </li>
    <li onclick="getStart();">
        <img src="../images/main_icon10.png">
        <span class="right-title-txt">학 습</span>
    </li>
</ul>
