<html>
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <link rel="stylesheet" href="../css/jquery-ui.css" type="text/css" media="all" />
    <link href="../css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/chart.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
    <div class="wrap bg-c0c0c0">
        <div class="detail-content">
            <div class="detail-top">
                <ul class="detail-top-ul">
                    <li>
                        <img src="../images/left_arrow.png" onclick="changeCnl('minus');" />
                    </li>
                    <li class="detail-top-level" id="topLevel">
                        <span id="channel"></span> 단
                    </li>
                    <li>
                        <img src="../images/right_arrow.png" onclick="changeCnl('plus');" />
                    </li>
                    <li class="back-btn">
                        <a href="./main.html"><img src="../images/back_btn.png" /></a>
                    </li>
                </ul>
            </div>
            <div class="peak-graph">
                <div class="peak-graph-content" style="border: 1px solid #000;">
                    여기 그래프 width:869px;height:?
                </div>
                <div class="peak-graph-util">
                    <ul>
                        <li>
                            <div class="peak-graph-util-wid1">시간 범위</div>
                            <button type="button"><img src="../images/left_arrow_small.png" alt=""></button>
                            <div class="peak-graph-util-wid2">
                                <span>1</span>시간
                            </div>
                            <button type="button"><img src="../images/right_arrow_small.png" alt=""></button>
                        </li>
                        <li>
                            <button type="button" class="btn-peak">
                                <img src="../images/peak_stop_off_24.png" alt="">
                                피크 최소
                            </button>
                            <div>29000</div>
                        </li>
                        <li>
                            <button type="button" class="btn-peak">
                                <img src="../images/peak_stop_off_24.png" alt="">
                                피크 최대
                            </button>
                            <div>29000</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="peak-graph-detail">
            <!-- <button type="button" id="handlePeakMin" data-text="압조력 피크(Peak) 최소값 모니티링을 적용 합니다.<br />적용 하시겠습니까?">피크 최소</button>             -->
            
        </div>
        <div class="footer"></div>
        <div class="right-menu"></div>
    </div>

    <div class="modal paek-modal" id="peakModal">
        <p class="keyboard-title" id="numKeyTitle">알 림 : 0x1200</p>
        <div class="peak-modal-text">
            
        </div>
        <p class="paek-btn">
            <img src="../images/OK_BUTTON_BACK.png"  />
            <img src="../images/CANCEL_BUTTON_BACK.png" onclick="closeModal();" />
        </p>
    </div>

    <script>
        $(".right-menu").load("../include/right-menu.html");
        $(".footer").load("../include/footer-ul.html");
    </script>
    <script src="../js/common.js"></script>
    <script src="../js/keyboard.js"></script>
    <script src="../js/detail.js"></script>
    
    <!-- 상연 작업 -->
    <script>
        // 팝업
        $(document).on("click", "#handlePeakMin", function(){
            $("#peakModal").fadeIn(200);
            $(".peak-modal-text").html($(this).data("text"));
        });
        // 팝업 닫기
        function closeModal(){
            $("#peakModal").fadeOut(200);
        }
    </script>
  </body>
</html>
